<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>
    <th:block th:each="msg : ${message}">
        <h1 th:text="${msg}"></h1>
    </th:block>

    <a href="/cars">Cars list</a>
    <h1 th:text="${msg}"></h1>
    <a href="/cars?count=1">amount of cars=1?</a>
    <h1 th:text="${msg}"></h1>
    <a href="/cars?count=2">amount of cars=2?</a>
    <h1 th:text="${msg}"></h1>
    <a href="/cars?count=3">amount of cars=3?</a>
    <h1 th:text="${msg}"></h1>
    <a href="/cars?count=4">amount of cars=4?</a>
    <h1 th:text="${msg}"></h1>
    <a href="/cars?count=5">amount of cars=5?</a>

</div>

</body>
</html>